<a href="https://colab.research.google.com/github/x-xinn/2106143_Yasin/blob/main/modul7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

dataset = pd.read_csv('data_Pengunjung_Mall.csv')
print(dataset.head())

   ID_Pelanggan  Gender  Usia  Pendapatan_Tahunan_Ribuan_USD  Pengeluaran_USD
0             1    Pria    19                           15.0             39.0
1             2    Pria    21                           15.0             81.0
2             3  Wanita    20                           16.0              6.0
3             4  Wanita    23                           16.0              NaN
4             5  Wanita    31                           17.0              NaN

In [8]:
print(dataset['Pengeluaran_USD'].isna().sum())

3

In [12]:
dataset['Pengeluaran_USD'].fillna('N',inplace=True)
print(dataset['Pengeluaran_USD'].isna().sum())

0

In [13]:
dataset['Pengeluaran_USD'].replace(['99'], ['N'], inplace=True)
print(dataset['Pengeluaran_USD'].value_counts())

42.0    8
55.0    7
73.0    6
46.0    6
59.0    5
       ..
71.0    1
34.0    1
9.0     1
11.0    1
18.0    1
Name: Pengeluaran_USD, Length: 85, dtype: int64